<div class="containter">
  <div class="subjects delete">

  <h2>Delete Article</h2>

  <%= form_for(:yazilar, :url => {:action => 'destroy', :id => @posts.id}) do |f| %>

    <p>Are you sure for delete this article?</p>

    <p class="reference-name"><%= @posts.title %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Article") %>
    </div>

  <% end %>
</div>
</div>
