<div class = 'container'>
  <%= image_tag("Admin_20084.jpg",:class=>"rounded mx-auto d-block", :alt=>"admin") %>
</div>
<br>
<div class = 'container'>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Process</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> The button show the user list: </td>
      <td>  <%= link_to('Users...', {:action => 'kullanicilar'}, :class => 'action show') %></td>
    </tr>
  </tbody>
    <tr>
      <th scope="row">2</th>
      <td> The button show the articles: </td>
      <td> <%= link_to('Articles...', {:action => 'yazilar'}, :class => 'action show') %></td>
    </tr>
  </table>
</div>
