<%=  javascript_include_tag Ckeditor.cdn_url %>


<% @page_title = 'Yazi Ekleme' %>
<div class="container">
  <div class="user new">
    <h2>Add new article</h2>

    <%= form_for(:yazilar, :url => {:action => 'create'}) do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f} ) %>

      <div class="form-buttons">
        <%= submit_tag('Submit') %>
      </div>

    <% end %>
  </div>
</div>
