<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1> Hakkimda </h1>
      <br>
      <div class="row">
        <div class="col-8 col-sm-6">
          <p><strong>Linkedin : </strong><a href="https://www.linkedin.com/in/safa-bayar/">Linkedin Hesabim</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
