/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

$font-type: Arial, Helvetica, sans-serif;
$left-space: 1000px;
$bottom-space: 5px;
$right-space: 20px;

 .login-ismi {
   font-family: $font-type;
   padding: $bottom-space;
   height: 35px;
   position: absolute;
   right: 100px;
   color: black;
 }

 .yazi {
   padding-top: $bottom-space;
 }

 .menu-bosluk {
    margin-bottom: 50px;
 }

 .kenarbosluk {
   margin-left: 100px;
   margin-right: 100px;
 }
