// Place all the styles related to the yazilar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



table {
  border: 2px solid;
  width: 100%;
  text-align: left;
}

.btn-xl {
  height:  65px;
  width: 130px;
  font-size: 17px;
  border-radius: 10px;
}
