<div class="container">
  <% @posts.each do |post| %>
  <div class="row">
    <div class="col-12"><h4><%= post.title %></h4></div>
      <div class="col-6"><%= post.created_at %></div>
  </div>

  <div class="row">
    <% if post.body.nil? %>
      <div class="col-8"><a> Body kismi bos </a></div>
    <% else %>
      <div class="col-8"><%= raw Markdown.new(post.body.first(300)).to_html %></div>
    <% end %>
      <%= link_to('Yazinin Tamami...', {:controller => 'yazilar',:action => 'show', :id => post.id}, :class => 'btn btn-primary btn-xl show') %>
</div>
  <hr>
  <% end %>
</div>
